* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: black;
}
.navigation {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: black;

  .collapse {
    justify-content: flex-end;
  }

  .navbar-brand {
    font-weight: 600;
    font-size: 25px;
  }
  .navbar-brand {
    color: white;
    &:hover {
      color: white;
    }
  }
  .nav-item {
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  button{
    background-color: white;
  }
}

.navigationbar {
  display: flex;
  justify-content: space-between;
}

#home {
  background-color: #00798a;
  color: white;
  text-align: center;
  .efforts_summary {
    margin-top: 50px;
    text-align: center;
    padding: 90px 0px;
    background-color: #00798a;

    h1 {
      font-size: 90px;
    }

    h3 {
      font-size: 45px;
      padding: 20px 0px;
    }

    p {
      padding: 20px 0px;
      font-size: 20px;
    }

    button {
      background-color: #fc4065;
      margin-bottom: 30px;
      color: white;
      padding: 10px 20px;
      border: 0;

      &:hover {
        background-color: red;
      }
    }
  }
}

#our_services {
  padding: 70px 0px;
  background-image: url("/assets/img/sativa.png");
  h1 {
    color: #00798a;
    font-weight: 500;
    padding: 20px 0px;
  }

  .our_services_summary_item {
    h5 {
      font-size: 25px;
      font-weight: 400;
    }

    p {
      font-size: 15px;
      padding: 20px 0px;
    }
  }

  .our_services_items {
    padding: 30px 0px;

    .our_services_item {
      margin: 10px 0px;
      text-align: center;
      padding: 40px 10px;
      background-color: #00798a;
      color: white;

      img {
        width: 100px;
        height: 100px;
      }

      h4 {
        padding: 40px 0px 10px 0px;
        font-weight: 600;
      }

      h6 {
        font-weight: 400;
        padding: 10px;
        letter-spacing: 0.01em;
        line-height: 1.5em;
      }
    }
  }

  .our_services_text {
    padding: 30px 0px;

    h5 {
      font-size: 25px;
      font-weight: 400;
    }

    p {
      font-size: 15px;
      padding: 10px 0px;
    }
  }
}

#reports {
  background-color: #00798a;
  .row {
    background-color: #00798a;
  }
  color: white;
  text-align: center;

  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  p {
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
  }
}

#our_plans {
  background-image: url("/assets/img/sativa.png");
  padding: 70px 0px;

  h1 {
    color: #00798a;
    font-weight: 500;
    padding: 20px 0px;
  }

  .our_plans_summary_item {
    h5 {
      font-size: 25px;
      font-weight: 400;
    }

    p {
      font-size: 15px;
      padding: 20px 0px;
    }
  }

  .our_plans_items {
    padding: 50px 0px;

    .our_plans_item {
      margin: 10px 0px;
      background-color: #d8d8d8;
      text-align: center;

      h3 {
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 10px 0px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: #85858a;
          font-size: 28px;
          padding: 15px 0px;
        }
      }

      h2 {
        background-color: #1f8a63;
        color: white;
        font-size: 50px;
        padding: 20px 0px;
      }

      button {
        border-radius: 0;
        width: 100%;
        padding: 5px 0px;
        margin: 10px 0px 30px 0px;
      }
    }
  }
}

#features {
  background-color: #00798a;
  .row {
    background-color: #00798a;
  }
  color: white;
  text-align: center;

  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  p {
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
  }
}

#contact {
  padding: 70px 0px;
  background-image: url("/assets/img/sativa.png");
  h1 {
    color: #00798a;
    font-weight: 500;
    padding: 20px 0px;
  }

  .contact_us_summary_item {
    h5 {
      font-size: 25px;
      font-weight: 400;
    }

    p {
      font-size: 15px;
      padding: 20px 0px;
    }

    button {
      margin: 20px 0px;
      font-size: 13px;
      background-color: #428bca;
    }

    .form-control {
      width: 100%;
    }

    .form-group {
      width: 260px;
    }
    .contact_us_info {
      font-size: 12px;
      padding-top: 25px;
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
.info {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 40px 0px 0px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}
